@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

main {
    position: relative;
    height: 100vh;
}

section.iphone {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    z-index: 0;
}

section.buttons {
    position: absolute;
    bottom: 25 px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Defina um valor de z-index maior para que o botão fique à frente do iframe */
}

section.buttons img {
    margin: 10px;
    width: 70px;
    border-radius: 50%;
    box-sizing: border-box;
}

section.buttons img:hover {
    border: 3px solid rgba(129, 99, 236, 0.582);
    transform: translate(-5px, -5px);
    transition: transform .5s, border .5s;
}

a {
    text-decoration: none;
    color: #59D9D9;
}
